# Zomato Exercise

Jedrek Mari Gabriel G. Apale

Data100 - S17

12174998 - BS-Electronics Engineering

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [ ]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [18]:
import pandas as pd
import numpy as np

zomato = pd.read_csv("D:\\datasci\\GRADED3\\zomato.csv")
location = pd.read_csv("D:\\datasci\\GRADED3\\location.csv")
ratings = pd.read_csv("D:\\datasci\\GRADED3\\ratings.csv")

ZLR = [zomato, location, ratings]

merged_df =  pd.merge(location, ratings, how="inner", on="id") 
merged_df = pd.merge(merged_df, zomato, how="inner", on="id")

merged_df

,id,address,city,city_id,country_id,latitude,locality,locality_verbose,longitude,zipcode,...,is_delivering_now,is_table_reservation_supported,is_zomato_book_res,menu_url,mezzo_provider,name,photos_url,price_range,thumb,url
0,6316125,"V. Corporate Center, Soliman Street, Salcedo V...",Makati City,63,162,14.560313,Salcedo Village,"Salcedo Village, Makati City",121.024638,NaN,...,0,0,0.0,https://www.zomato.com/manila/mendokoro-ramenb...,OTHER,Mendokoro Ramenba,https://www.zomato.com/manila/mendokoro-ramenb...,3,https://b.zmtcdn.com/data/reviews_photos/971/2...,https://www.zomato.com/manila/mendokoro-ramenb...
1,18409457,"Level 3, Greenbelt 3, Ayala Center, Greenbelt,...",Makati City,63,162,14.552137,"Greenbelt 3, San Lorenzo, Makati City","Greenbelt 3, San Lorenzo, Makati City, Makati ...",121.021325,NaN,...,0,0,0.0,https://www.zomato.com/manila/soban-k-town-gri...,OTHER,Soban K-Town Grill,https://www.zomato.com/manila/soban-k-town-gri...,3,https://b.zmtcdn.com/data/res_imagery/18290970...,https://www.zomato.com/manila/soban-k-town-gri...
2,6307689,"5012 P. Burgos Street, Poblacion, Makati City ...",Makati City,63,162,14.563144,Poblacion,"Poblacion, Makati City",121.029800,1210.0,...,0,0,0.0,https://www.zomato.com/manila/filling-station-...,OTHER,Filling Station,https://www.zomato.com/manila/filling-station-...,4,https://b.zmtcdn.com/data/pictures/9/6307689/b...,https://www.zomato.com/manila/filling-station-...
3,18581637,"CKB Centre, Tomas Morato Avenue Corner Scout R...",Quezon City,63,162,14.633713,Tomas Morato,"Tomas Morato, Quezon City",121.035026,NaN,...,0,0,0.0,https://www.zomato.com/manila/romantic-baboy-t...,OTHER,Romantic Baboy,https://www.zomato.com/manila/romantic-baboy-t...,3,https://b.zmtcdn.com/data/reviews_photos/cc1/a...,https://www.zomato.com/manila/romantic-baboy-t...
4,6315438,"Sixth Floor, SM Aura Premier, C5 Road Corner 2...",Taguig City,63,162,14.546236,"SM Aura Premier, Bonifacio Global City, Taguig...","SM Aura Premier, Bonifacio Global City, Taguig...",121.054365,NaN,...,0,0,0.0,https://www.zomato.com/manila/niu-by-vikings-b...,OTHER,NIU by Vikings,https://www.zomato.com/manila/niu-by-vikings-b...,4,https://b.zmtcdn.com/data/pictures/chains/8/63...,https://www.zomato.com/manila/niu-by-vikings-b...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6825,18635649,"Westgate Center, Filinvest City, Muntinlupa City",Muntinlupa City,63,162,14.422261,"Westgate Center, Filinvest City, Mutinlupa City","Westgate Center, Filinvest City, Mutinlupa Cit...",121.033175,NaN,...,0,0,0.0,https://www.zomato.com/manila/trader-juans-fil...,OTHER,Trader Juan's,https://www.zomato.com/manila/trader-juans-fil...,3,NaN,https://www.zomato.com/manila/trader-juans-fil...
6826,6318581,"Zabarte Town Center, Zabarte Corner Camarin Ro...",Caloocan City,63,162,14.756424,"Zabarte Town Center, North Caloocan, Caloocan ...","Zabarte Town Center, North Caloocan, Caloocan ...",121.043329,NaN,...,0,0,0.0,https://www.zomato.com/manila/jollibee-north-c...,OTHER,Jollibee,https://www.zomato.com/manila/jollibee-north-c...,2,https://b.zmtcdn.com/data/pictures/chains/0/63...,https://www.zomato.com/manila/jollibee-north-c...
6827,6318578,"Zabarte Town Center, Zabarte Corner Camarin Ro...",Caloocan City,63,162,14.756406,"Zabarte Town Center, North Caloocan, Caloocan ...","Zabarte Town Center, North Caloocan, Caloocan ...",121.043498,NaN,...,0,0,0.0,https://www.zomato.com/manila/goldilocks-north...,OTHER,Goldilocks,https://www.zomato.com/manila/goldilocks-north...,2,https://b.zmtcdn.com/data/res_imagery/6300003_...,https://www.zomato.com/manila/goldilocks-north...
6828,6309612,"Greenhills Town Center, Granada Street, Valenc...",Quezon City,63,162,14.610628,"Greenhills Town Center, Valencia, Quezon City","Greenhills Town Center, Valencia, Quezon City ...",121.037031,NaN,...,0,0,0.0,https://www.zomato.com/manila/red-buffalo-wing...,OTHER,Red Buffalo Wings & Pizza,https://www.zomato.com/manila/red-buffalo-wing...,3,https://b.zmtcdn.com/data/res_imagery/6309612_...,https://www.zomato.com/manila/red-buffalo-wing...
6829,6318582,"Ground Floor, Zabarte Town Center, Zabarte Cor...",Caloocan City,63,162,14.756382,"Zabarte Town Center, North Caloocan, Caloocan ...","Zabarte Town Center, North Caloocan, Caloocan ...",121.043452,NaN,...,0,0,0.0,https://www.zomato.com/manila/greenwich-north-...,OTHER,Greenwich,https://www.zomato.com/manila/greenwich-north-...,2,https://b.zmtcdn.com/data/pictures/chains/2/63...,https://www.zomato.com/manila/greenwich-north-...

In [19]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [132]:
def exercise_2(merged_df):
    
    average = merged_df.groupby('city')['aggregate_rating'].mean()
    
    return average
    raise NotImplementedError

In [133]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [22]:
rating = {
    "Excellent": 5,
    "Very Good": 4,
    "Good": 3,
    "Average": 2,
    "Poor": 1,
    "Not rated": 0
}

merged_df["rating_numeric"] = merged_df["rating_text"].apply(lambda x: rating.get(x))

In [23]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [139]:
def exercise_4(merged_df, city):

    filtered_df = merged_df[merged_df['city'] == city]

    
    return filtered_df
    raise NotImplementedError

In [140]:
assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [42]:
def exercise_5(merged_df, cols_to_filter):
        
    cols_to_filter = [col for col in cols_to_filter if col in merged_df.columns]
    filter_df = merged_df[cols_to_filter]
    
    return filter_df 
    raise NotImplementedError

In [43]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [70]:
cname_df = merged_df.groupby("name").size()
num = cname_df.max()
cname_df = cname_df.idxmax()


print(f"The most common restaurant name in the dataset is {cname_df}, which appeared {num} times.")

#To come up with the code, the dataset in the variable merged_df was grouped by its column "name". The usage of size() allows the program to count how
#many times a unique restaurant name appears in the group. This was then stored in a variable cname_df. The new variable was then used to find the 
#maximum or greatest amount of times a restaurant name appeared using max(). Lastly, to find which restaurant it was, we used the idxmax() function to
#return to us the index with the greatest number of times that the name has appeared.

The most common restaurant name in the dataset is Starbucks, which appeared 99 times.

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [104]:
nameave_df = merged_df[["name","average_cost_for_two"]]
maxave = nameave_df["average_cost_for_two"].max()
maxname_idx = nameave_df["average_cost_for_two"].idxmax()
maxname = nameave_df["name"][maxname_idx]

print(f"The restaurant with the most expensive average cost for two is {maxname}, which costs around P{maxave}.")
#First, I put the necessary columns from the dataset in merged_df into nameave_df. Following this, I used max() for the column of "average_cost_for_two"
#to find the maximum value in that specific column, Placing it in the variable maxave to get the value. Next, I used idxmax() in order to find the index that contains the highest value in that column, placing
#it in variable maxname_idx, which will help us find the name of the restaurant. Lastly, I used the column of "name" in the variable nameave_df and the
#index that we got from maxname_idx in order to find the restaurant of that index, which is The Tasting Room.

The restaurant with the most expensive average cost for two is The Tasting Room, which costs around P10000.

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [116]:
zip = merged_df["zipcode"]

no_zip = zip.isnull() 
no_zip = no_zip.sum()

print(f"There are {no_zip} restaurants which do not have a zipcode.")
#First, I put the column "zipcode" from the dataframe merged_df into a variable named zip. After that, I used the isnull() function in order to check
#which rows had null (no zipcode) zipcodes and placed it in the variable no_zip. I then added the amount of true outputs using the sum() function to get the number of restaurants 
#without a zipcode.

There are 6713 restaurants which do not have a zipcode.

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [131]:
online = merged_df["has_online_delivery"]

online = online == 1
online = online.sum() 

print(f"There are {online} restaurants that allow online delivery.")
#First, I extracted the "has_online_delivery" column from merged_df into the variable online. Then, I compared the values of the data in online to 1,
#as the .csv file only gave values either 0 (No) or 1 (Yes). If the condition is true, it will return true and vice-versa. Using the function sum()
#allows us to see the number of restaurants that has online delivery.

There are 0 restaurants that allow online delivery

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [184]:
PSlocalcost = merged_df[["locality", "average_cost_for_two"]]

meanpobla = PSlocalcost[PSlocalcost["locality"] == "Poblacion"]["average_cost_for_two"].mean()
meansalcedo = PSlocalcost[PSlocalcost["locality"] == "Salcedo Village"]["average_cost_for_two"].mean()

if meanpobla > meansalcedo:
    print("Poblacion has more expensive food than Salcedo Village.")
else:
    print("Salcedo Village has more expensive food than Poblacion.")

#First, I got the locality and average_cost_for_two from the merged_df into the variable PSlocalcost. Then, I got the mean for Poblacion by filtering locality
#to have Poblacion under it, which then selects the rows that have it and get its mean using mean(). The same steps are repeated for Salcedo Village.
#The reason as to why I used mean as it gives us the average costs of each restaurant present in the vicinity. Then, I compared each mean to see which
#is more expensive.

Salcedo Village has more expensive food than Poblacion.

References:
1. Pandas. (n.d.). Merge, join, concatenate and compare — pandas 2.1.1 documentation. pandas - Python Data Analysis Library. Retrieved September 27, 2024, from https://pandas.pydata.org/docs/user_guide/merging.html

2. Pandas. (n.d.). Pandas.DataFrame.apply — pandas 2.0.3 documentation. pandas - Python Data Analysis Library. Retrieved September 27, 2024, from https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

3. Saturn Cloud. (2023, June 19). How to count Nan and null values in a pandas DataFrame. Saturn Cloud | #1 Rated ML Platform. Retrieved September 27, 2024, from https://saturncloud.io/blog/how-to-count-nan-and-null-values-in-a-pandas-dataframe/

4. Saturn Cloud. (2023, June 19). What Is the Most Efficient Way of Counting Occurrences in Pandas. Saturn Cloud | #1 Rated ML Platform. Retrieved September 27, 2024, from https://saturncloud.io/blog/what-is-the-most-efficient-way-of-counting-occurrences-in-pandas/

5. W3schools. (n.d.). Pandas DataFrame idxmax() Method. W3Schools Online Web Tutorials. Retrieved September 27, 2024, from https://www.w3schools.com/python/pandas/ref_df_idxmax.asp

6. W3schools. (n.d.). Python dictionary get() method. W3Schools Online Web Tutorials. Retrieved September 27, 2024, from